<!--   

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carousel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand">JunoS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        
        <ul class="navbar-nav me-auto" >
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link">Matches</a>
            </li>
            
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link">Lists</a>
            </li>

            <li class="nav-item" *ngIf="loggedIn">
              <a class="nav-link">Messages</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
        
        <!-- <div class="dropdown" *ngIf="loggedIn">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button> -->
          <div class="btn-group" dropdown *ngIf="loggedIn">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Welcome User <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-1"
                role="menu" aria-labelledby="button-basic" >
              <li role="menuitem"><a class="dropdown-item">Edit Profile</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
              
            </ul>
          </div>
          <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div> -->

        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" *ngIf="!loggedIn">
          <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username">
          <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
    </div>
  </div>
    
</nav>
